<!DOCTYPE html>
%html
  %head
    %title GooseLab Email Analytics
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container24
      .navbar.navbar-inverse
        .navbar-inner
          = link_to 'GooseLab Analytic Demonstration', '#', class: 'brand'
    = yield
